
	<div id="top">
		<h1>Curriculum Vitae</h1>
	</div>

<div id="wrap">

	<div id="summary">
		<h2>Summary</h2>
		<div class="dark">
			<p id="sum">Motivated full stack developer with good attention to detail. Equipped with a logical bent of mind and proven problem solving skills. Highly adaptive and quick at learning new skills. Want to pursue a mutually beneficial career, where I would apply and acquire knowledge, experience and ideas to serve the best interest of the organization.</p>
		</div>
	</div>

	<div id="skills">
		<h2>Skills</h2><!--
	--><div class="mains dark">	
			<h3>Programing</h3>
			<ul class="subList">
				<li><p>Python</p></li>
				<li><p>JavaScript</p></li>
				<li><p>Ruby</p></li>
			</ul>
			</div><!--
	--><div class="mains dark">	
			<h3>MVC Frameworks and Libraries </h3>
				<ul class="subList">
					<li><p>Flask, Pandas, Scikit learn</p></li>
					<li><p>JQuery, NodeJS, Angular</p></li>
					<li><p>Rails</p></li>
				</ul>			
		</div><!--
	--><div class="mains dark">	
			<h3>Database</h3>
			<ul class="subList">
				<li><p>MySQL</p></li>
				<li><p>MongoDB</p></li>
				<li></li>
			</ul>
		</div><!--
	--><div class="mains dark">	
			<h3>Others</h3> 
			<ul class="subList">
				<li><p>Linux bash</p></li>
				<li><p>Github</p></li>
				<li><p>HTML & CSS</p></li>
			</ul>
		</div><!--
	--></div>

	<div id="content">
		<div id="education">
			<h2>Education</h2>
				<ul>
					<h3>14 week intensive coding boot camp at - Coding Dojo (Jul 2016 – Oct 2016)</h3>
					<div class="dark">
						<li><p>Completed a 14 week intensive coding boot camp for web development</p></li>
						<li><p>Achieved proficiency in building fully integrated web sites using three different technologies:</p>
							<ul>
								<li><p>Python – Using Flask and MySQL</p></li>
								<li><p>MEAN – Using MongoDB, Express, Angular and NodeJS</p></li>
								<li><p>Ruby– Using Ruby and rails</p></li>
							</ul>
						</li>
						<li><p>Achieved highest certification that coding dojo awards for each stack.</p></li>
					</ul>
				</div>

				<h3>MBA from Christ University (Apr 2008 – Apr 2014)</h3>
				<p class='dark'>Complete MBA in finance with distinction</p>
				
		</div>
		<div id="workExp">
			<h2>Work Experience</h2>
			<h3>Senior Finance Manager at Taxi for Sure- A tech startup company	(Sep 2014 – Dec 2014)</h3>
			<div class="dark">
				<p>Was in charge of planning budgeting and management reporting. Was also the key person in companies funding program and worked with investment bankers and other parties involved.</p>
			</div>
			<h3>Senior Analyst at Copal Amba Research – A Moody’s Analytics company	(Jun 2008 – Aug 2014)</h3>
			<div class="dark">
				<p>Worked as an equity analyst. Worked extensively on building fully integrated financial models with forecasts. Also performed various ad hock analysis for the clients and explored thematic ideas.</p>
				<p>Was able to successfully replace my predecessors who had decades of experience between them despite being a fresher.</p>
				<p>Was promoted twice in the the span of 6 years</p>
			</div>
		</div>
	</div>
</div>